<footer class="py-4 bg-light wvu-z-index-content lh-lg">
    <div class="container wvu-z-index-content">
        <div class="row small">
            <div class="col-12">
                <address class="mb-3">
                    <p>
                        <strong>{{ site.title }}</strong>
                        <br>{{ site.address.street }} | {{ site.address.po_box }}
                        <br>{{ site.address.city }}, {{ site.address.state }} {{ site.address.zip }}
                        <br>
                    </p>
                    <p>
                        <span class="fa-solid fa-envelope" aria-hidden="true"></span>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                </address>
            </div>
        </div>
        <div class="row small">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li class="list-inline-item"><a href="https://about.wvu.edu/wvu-facts">Accreditations</a></li>
                    <li class="list-inline-item"><a href="https://webstandards.wvu.edu">Web Standards</a></li>
                    <li class="list-inline-item"><a href="https://www.wvu.edu/privacy">Privacy Notice</a></li>
                    <li class="list-inline-item"><a href="https://www.wvu.edu/contact-us">Questions or Comments?</a></li>
                </ul>
                <p>
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.wvu.edu/">West Virginia University</a>.
                    <span class="wvu-credits__last-edited">Last updated on </span>
                    <span id="git-last-commit-date"></span>
                </p>
            </div>
            <div class="col-md-6 text-md-end lh-lg">
                <ul class="list-unstyled mb-0">
                    <li class="list-inline-item"><a href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
                    <li class="list-inline-item"><a href="https://campusmap.wvu.edu">Campus Map</a></li>
                    <li class="list-inline-item"><a href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
                    <li class="list-inline-item"><a href="https://directory.wvu.edu">WVU Directory</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li class="list-inline-item"><a href="https://give.wvu.edu/campaign/givewvu/c415566">Give</a></li>
                    <li class="list-inline-item"><a href="https://wvu.joinhandshake.com/login">Handshake</a></li>
                    <li class="list-inline-item"><a href="https://alert.wvu.edu/">WVU Alert</a></li>
                    <li class="list-inline-item"><a href="https://wvutoday.wvu.edu">WVU Today</a></li>
                    <li class="list-inline-item"><a href="https://portal.wvu.edu">WVU Portal</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li class="list-inline-item">
                        <a class="px-lg-1" href="https://www.facebook.com/wvumountaineers">
                            <span class="fa-brands fa-facebook" aria-hidden="true"></span>
                            <span class="visually-hidden">WVU on Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item px-lg-1">
                        <a href="https://twitter.com/WestVirginiaU">
                            <span class="fa-brands fa-x-twitter" aria-hidden="true"></span>
                            <span class="visually-hidden">WVU on X / Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item ps-lg-1">
                        <a href="https://www.youtube.com/user/westvirginiau">
                            <span class="fa-brands fa-youtube" aria-hidden="true"></span>
                            <span class="visually-hidden">WVU on YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
