---
layout: default
title: Officers
body_class: page--officers
---

<section class="wvu-breadcrumbs py-2 w-100 position-absolute wvu-z-index-breadcrumbs" aria-label="Breadcrumb Links">
  <div class="container position-relative small">
    <div class="">
      <div class="d-inline-block">
        <ul class="wvu-z-index-content wvu-slash-list ps-0 mb-0 d-inline-block">
            <li><a href="/">Home</a></li>
            <li class="active">Officers</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="py-3 wvu-z-index-content pb-3 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-bg-position-center">
  <div class="container position-relative wvu-z-index-content">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-8 mt-3">
        <h1 id="backpage-header-1-label" class="display-4 helvetica-neue-bold mb-0 text-white">Contact Index</h1>
      </div>
    </div>
  </div>
</div>

<main id="wvu-main-content" class="py-5 text-center">
  <div class="wvu-z-index-content">
    <div class="container wvu-z-index-content">
      <div class="row justify-content-center">
        <div class="col-md-8">

          {% for officer in site.data.officers %}
          <div class="mb-4 text-start">
            <div class="row">
              <div class="col-lg-3">
                <div class="mb-2 position-relative portrait-container">
                  <img class="rounded-circle shadow mb-2" src="/assets/officers/{{ officer.image }}" alt="Portrait of ARC {{ officer.title }}">
                </div>
              </div>
              <div class="col-lg-9">
                <h2 class="card-title h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue" id="profile-{{ officer.id }}">
                  {{ officer.name }}{% if officer.callsign != "" %} - {{ officer.callsign }}{% endif %}
                </h2>
                <div class="mb-2">
                  <p>
                    <span class="d-block h5 mb-1 helvetica-neue-bold text-uppercase">{{ officer.title }}</span>
                    {% if officer.major != "" %}
                    <span class="d-block mb-1 helvetica-neue"><strong>Major: </strong>{{ officer.major }}</span>
                    {% endif %}
                    {% if officer.phone %}
                    <span aria-hidden="true" class="fa-solid fa-phone"></span> <a href="tel:{{ officer.phone | replace: '(', '' | replace: ') ', '-' }}">{{ officer.phone }}</a><br>
                    {% endif %}
                    <span aria-hidden="true" class="fa-solid fa-envelope"></span> <a href="mailto:{{ officer.email }}">{{ officer.email }}</a>
                    {% if officer.office %}
                    <br><span aria-hidden="true" class="fa-solid fa-building"></span> <a href="https://www.statler.wvu.edu/about/driving-directions">{{ officer.office }}</a>
                    {% endif %}
                  </p>
                </div>
                {% if officer.bio != "" %}
                <p class="">{{ officer.bio }}</p>
                {% endif %}
                <a class="btn btn-primary btn-sm" href="/officers/{{ officer.id }}/">View Bio<span class="visually-hidden">: {{ officer.name }}</span></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</main>
