---
layout: default
title: Equipment
body_class: page--shack-equipment
---

<div class="">
  <section class="wvu-breadcrumbs py-2 w-100 wvu-z-index-breadcrumbs" aria-label="Breadcrumb Links">
    <div class="container position-relative wvu-z-index-content small">
        <div class="text-wvu-neutral--dark-gray text-wvu-accent--blue-dark d-inline-block">
          <ul class="wvu-z-index-content wvu-slash-list ps-0 mb-0 d-inline-block">
            <li><a href="/">Home</a></li>
            <li><a href="/shack/">Shack</a></li>
            <li class="active">Equipment</li>
          </ul>
        </div>
    </div>
  </section>
</div>

<main id="wvu-main-content" class="py-2">
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-10">

        <!-- Radios Section -->
        <h2 id="radios" class="display-6 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom sr-only">Radios</h2>
        <ul class="pb-3 list-unstyled">
          {% for radio in site.data.equipment.radios %}
          <li class="border-bottom border-1 border-black-50 pt-2 pb-3 pb-sm-2">
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="row h-100 flex-column flex-lg-row justify-content-center">
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-radio"></span>
                    <strong>{{ radio.name }}</strong>
                  </div>
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-tower-broadcast"></span>
                    <a>{{ radio.type }}</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Antennas Section -->
        <h2 id="antennas" class="display-6 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom sr-only">Antennas</h2>
        <ul class="pb-3 list-unstyled">
          {% for antenna in site.data.equipment.antennas %}
          <li class="border-bottom border-1 border-black-50 pt-2 pb-3 pb-sm-2">
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="row h-100 flex-column flex-lg-row justify-content-center">
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-radio"></span>
                    <strong>{{ antenna.name }}</strong>
                  </div>
                  <div class="col-12 col-lg align-self-center">
                    {% for desc in antenna.description %}
                    <span aria-hidden="true" class="fa-solid fa-tower-broadcast"></span>
                    <a>{{ desc }}</a>{% unless forloop.last %}<br>{% endunless %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Repeaters Section -->
        <h2 id="repeaters" class="display-6 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom sr-only">Repeaters</h2>
        <ul class="pb-3 list-unstyled">
          {% for repeater in site.data.equipment.repeaters %}
          <li class="border-bottom border-1 border-black-50 pt-2 pb-3 pb-sm-2">
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="row h-100 flex-column flex-lg-row justify-content-center">
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-radio"></span>
                    <strong>{{ repeater.name }}</strong>
                  </div>
                  <div class="col-12 col-lg align-self-center">
                    <div class="row">
                      <div class="col-lg-9 align-self-center d-sm-none d-lg-block">
                        <span class="small helvetica-neue-light d-block lh-sm">{{ repeater.frequency }}</span>
                        <span class="small helvetica-neue-light d-block lh-sm">Offset: {{ repeater.offset }}</span>
                        <span class="small helvetica-neue-light d-block lh-sm">{{ repeater.tone }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Test Equipment Section -->
        <h2 id="test_equipment" class="display-6 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom sr-only">Test Equipment</h2>
        <ul class="pb-3 list-unstyled">
          {% for item in site.data.equipment.test_equipment %}
          <li class="border-bottom border-1 border-black-50 pt-2 pb-3 pb-sm-2">
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="row h-100 flex-column flex-lg-row justify-content-center">
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-radio"></span>
                    <strong>{{ item.name }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Retired Equipment Section -->
        <h2 id="retired_equipment" class="display-6 wvu-shout text-wvu-blue wvu-bar wvu-bar--bottom sr-only">Retired Equipment</h2>
        <ul class="list-unstyled">
          {% for item in site.data.equipment.retired %}
          <li class="border-bottom border-1 border-black-50 pt-2 pb-3 pb-sm-2">
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-9">
                <div class="row h-100 flex-column flex-lg-row justify-content-center">
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-radio"></span>
                    <strong>{{ item.name }}</strong>
                  </div>
                  {% if item.type %}
                  <div class="col-12 col-lg align-self-center">
                    <span aria-hidden="true" class="fa-solid fa-tower-broadcast"></span>
                    <a>{{ item.type }}</a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</main>
